*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.main{
    background-color: lightgrey;
    width: 100%;
    height: 100vh;
    border-radius: 25px;
}

.header{
    display: flex;
    text-align:center;
    justify-content:space-between;
    padding: 20px;
    
    box-shadow: 0 0 20px rgb(158, 156, 156);
    border-radius: 25px;
}

.ul-tag{
    display: flex;
    text-align: center;
    padding: 20px;
    
}

.ul-tag li{
    margin: 15px;
    
}

a{
    color: blue;
    cursor: pointer;
}

a:hover{
    color: darkblue;
}

form{
    display: flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    
}

.input{
    padding: 10px;
    
}

input{
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-radius: 15px;
}

